#index {
  #content {
    margin-right: 0;
    padding: 2em 55px 0 55px;
    img.portrait {
      float: right;
      width: 270px;
      height: 360px;
      margin-left: 20px;
      padding: 2px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }
  }
}
