---
layout: default
footer: false
---
<div id="index">
  <div id="content">
    <img class="portrait" src="http://cdn.robgolding.com/portrait.jpg" />
    <h2>About Me</h2>
    <p>
    Hi, I'm Rob. I'm a web applications developer from Nottingham, England.
    </p>
    <p>
    I graduated from the
    <a href="http://www.nottingham.ac.uk">University of Nottingham</a> in July
    of 2011, with a first-class honours degree in Computer Science.
    </p>
    <h2>Projects</h2>
    <p>
    Check out my <a href="https://github.com/robgolding63">GitHub Page</a> to
    see what I'm up to. If you use
    <a href="https://github.com/robgolding63/tasklib">tasklib</a>,
    <a href="http://robgolding63.github.io/django-radius">django-radius</a> or
    <a href="http://robgolding63.github.io/celery-s3">celery-s3</a>, I'd love
    to know!
    </p>
    <h2>Work</h2>
    <p>
    I'm currently a senior developer at
    <a href="http://www.rkh.co.uk">Rock Kitchen Harris</a>, in Leicester.
    Most of my time is spent on the high-profile
    <a href="http://www.police.uk/">Police.uk</a> project, which we created for
    the Home Office.
    </p>
    <p>
    I recently coordinated the launch of
    <a href="http://data.police.uk/">data.police.uk</a>, and the redesign of
    <a href="http://www.police.uk/">Police.uk</a> itself in November 2013.
    </p>
    <p>
    For more details about my experience and skills, see my <a href="/cv/">Curriculum Vitae</a>.
    </p>
  </div>
</div>
<aside class="sidebar">
  {% if site.blog_index_asides.size %}
    {% include_array blog_index_asides %}
  {% else %}
    {% include_array default_asides %}
  {% endif %}
</aside>
